a:hover,
a:focus {
  color: #48bb78;
}

img:hover {
  transform: scale(1.02);
  transition: transform 0.15s ease-in;
}

@media screen and (min-width: 480px) {
  body {
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 15px 40px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    padding: 20px 80px;
  }
}
